.App {
  text-align: center;
}
.success{
  width: 100%;
  height: min-content;
  border: 2px green solid;
  color: green;
  padding: 10px;
  margin-bottom: 10px;
}
.error{
  width: 100%;
  height: min-content;
  border: 2px red solid;
  color: red;
  padding: 10px;
  margin-bottom: 10px;
}

